<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fabicon (Webアイコン) の設定 -->
    <link rel="apple-touch-icon" type="image/png" href="images/favicon/kouresya.png">
    <link rel="icon" type="image/png" href="images/favicon/kouresya.png">

    <!-- OGP 設定 -->
    <meta property="og:title" content="Quiz App">
    <meta property="og:description" content="クイズアプリ">
    <meta property="og:url" content="https://inpw.jp/app/quizapp">
    <meta property="og:image" content="https://inpw.jp/app/quizapp/images/ogp.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Quiz App">
    <meta name="twitter:card" content="summary_large_image">
    
    <!-- Bootstrap の読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">

    <!-- css の読み込み -->
    <link rel="stylesheet" href="main.css">

    
    <title>クイズアプリ</title>
</head>
<body>
    <!-- As a heading -->
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-main-green">
        <a class="navbar-brand" href="index.html">
            高齢者検定
        </a>
    </nav>

    <div id="app">

        <div class="container">

            <div class="row my-3">

                <div class="col-12">
                    <h1 class="text-center main-title">高齢者スマホ検定初級</h1>
                    <p class="text-center">正しい操作方法を三つのうちから答えなさい</p>
                </div>

            </div>

            <!-- ここから下に新しく作る -->

            <div class="row">

                <div class="col-md-8 offset-md-2">
                    第{{questionCount}}問 / 全10問
                </div>

                <!-- 問題文を表示する領域 -->
                <div class="col-md-8 offset-md-2">
                    
                    <div class="questionBox">
                        <span class="box-title">問題</span>
                        <p>{{questions[currentQuestionNumber].title}}</p>
                    </div>

                </div>

                <!-- 選択肢を表示する領域 -->

                <div class="col-md-8 offset-md-2 bg-light p-3">
                    <p class="font-bold">【次の3つから選ぼう】</p>
                    <ol>
                        <li v-for="answer in questions[currentQuestionNumber].answers" class="my-3">
                            {{answer}}
                        </li>  
                    </ol>
                </div>

                <!-- 回答ボタンを表示する領域 -->

                <div class="col-md-8 offset-md-2 text-center mt-5">

                    <div class="mb-4">
                        <a href="#" class="answer-btn answer-btn-bg1 mx-3" @click="answerCheck(0)">1</a>
                        <a href="#" class="answer-btn answer-btn-bg2 mx-3" @click="answerCheck(1)">2</a>
                        <a href="#" class="answer-btn answer-btn-bg3 mx-3" @click="answerCheck(2)">3</a>
                    </div>

                    <p class="text-center">正解だと思う番号のボタンをクリックしよう</p>

                </div>

            </div>

        </div>

        <!-- 答えを表示するモーダル -->
        
        <div class="modal" id="answerCheckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">問題{{questionCount - 1}}</h5>
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images//correct.png" class="answer-img" alt="" v-if="isCorrect">
                                    <img src="./images/miss.png" class="answer-img" alt="" v-if="!isCorrect">
                                </div>
                            </div>

                            <div class="col-8">

                                <div v-if="isCorrect">
                                    <h3 class="answer-title">正解！</h3>
                                    <p>正解は、{{questions[currentQuestionNumber].answers[questions[currentQuestionNumber].answerNum]}}ですね！</p>
                                    <p></p>    
                                </div>

                                <div v-if="!isCorrect">
                                    <h3 class="answer-title">残念...!</h3>
                                    <p>正解は、{{questions[currentQuestionNumber].answers[questions[currentQuestionNumber].answerNum]}}でした。</p>
                                    <p></p>    
                                </div>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="nextQuestion()">次の問題へ</button>
                    </div>
                </div>
            </div>
         </div>

         <!-- すべての問題を回答し終わったときに表示するモーダル -->

         <div class="modal fade" id="answerEndedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        おつかれさまでした！
                    </div>
                    
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-4">
                                <div class="text-center">
                                    <img src="./images/trophy.png" class="answer-img">
                                </div>
                            </div>

                            <div class="col-8">

                                <p>10問中 {{ correctAnswerNum }}問正解しました！</p>

                            </div>

                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                    
                        <a href="index.html" class="btn btn-success">クイズ一覧にもどる</a>
                        <a href="#" class="btn btn-primary" @click="reload()">最初から答える</a>

                    </div>
                </div>
            </div>
         </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>

        var app = new Vue({

            el: "#app",
            data: {
                questions:{
                    0:{
                        title: "スマホで写真を削除するにはどうすればいいですか？",
                        hint: "右利き",
                        answers: [
                            "画面を右にスワイプ", "ゴミ箱アイコンをタップ", "電源ボタンを押す"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    1:{
                        title: "Wi-Fiに接続するにはどこをタップしますか？",
                        hint: "",
                        answers: [
                            "電話", "設定", "メッセージ"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    2:{
                        title: "スマートフォンに新しいアプリをインストールするために必要な手順はどれでしょうか？",
                        hint: "世界で一番多くの人が乗り降りする駅があるよ！",
                        answers: [
                            "シャワーを浴びる", "アプリストアでアプリを検索し、ダウンロードボタンをタップ", "買い物リストを書く"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    3:{
                        title: "レジでのお会計時に必要な行動はどれでしょうか？",
                        hint: "",
                        answers: [
                            "レシートを見ずに帰る", "任意の決済アプリを表示してバーコードを見せて読み取ってもらう", "支払いをする前にレジ袋をもらう"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    4:{
                        title: "スマートフォンで電話をかけるための適切な手順はどれでしょうか？",
                        hint: "",
                        answers: [
                            "カメラを開いて写真を撮る", "電話アプリを開き、連絡先を選んで発信ボタンをタップ", "メッセージアプリでテキストを送る"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    5:{
                        title: "メールを送る際に必要な手順はどれでしょうか？",
                        hint: "",
                        answers: [
                            "レシピを検索する", "メールアプリを開き、宛先を入力し、本文を書いて送信ボタンをタップ", "音楽をダウンロードする"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    6:{
                        title: "野々市市の施設を予約する際に正しい手順はどれでしょうか？",
                        hint: "",
                        answers: [
                            "ゴルフのスイングを練習する", "野球の試合を観戦する", "市のウェブサイトで必要事項を入力し、予約ボタンをクリック"
                        ],
                        answerNum: 2,
                        description: ""
                    },
                    7:{
                        title: "アラームを設定するにはどのアプリを使いますか？",
                        hint: "",
                        answers: [
                            "時計", "カレンダー", "音楽"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    8:{
                        title: "スマホのバッテリー残量を確認するにはどこを見ますか？",
                        hint: "",
                        answers: [
                            "画面上部", "画面下部", "設定アプリ"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    9:{
                        title: "スクリーンショットを撮るためにはどうしますか？",
                        hint: "",
                        answers: [
                            "ホームボタン長押し", "電源ボタン長押し", "画面を長押し"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    10:{
                        title: "スマホでの検索はどのアプリを使いますか？",
                        hint: "",
                        answers: [
                            "ギャラリー", "ブラウザ", "カメラ"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    11:{
                        title: "スマホのアプリを更新するにはどうしますか？",
                        hint: "",
                        answers: [
                            "スマホを振る", "電話をかける", "playストアを開く"
                        ],
                        answerNum: 2,
                        description: ""
                    },
                    12:{
                        title: "スマホのボリュームを上げるにはどうしますか？",
                        hint: "",
                        answers: [
                            "画面をタップ", "音量ボタンを押す", "電源ボタンを押す"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    13:{
                        title: "スマホのモデルを確認するにはどこを見ますか？",
                        hint: "",
                        answers: [
                            "設定の「端末情報」", "バッテリー", "カメラ"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    14:{
                        title: "スマホの画面をロックするにはどうしますか？",
                        hint: "",
                        answers: [
                            "電源ボタンを押す", "ホームボタンを押す", "画面を二回タップする"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    15:{
                        title: "スマホで天気予報をチェックするにはどうしますか？",
                        hint: "",
                        answers: [
                            "カレンダーを開く", "天気アプリを開く", "カレンダーアプリを開く"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    16:{
                        title: "新しいイベントをカレンダーに追加するにはどうしますか？",
                        hint: "",
                        answers: [
                            "電話を掛ける", "メッセージを送る", "カレンダーアプリを開く"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    17:{
                        title: "スマホのストレージを確認するにはどこをタップしますか？",
                        hint: "",
                        answers: [
                            "メール", "カメラ", "設定"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    18:{
                        title: "スマホで動画を見るにはどのアプリを開きますか？",
                        hint: "",
                        answers: [
                            "カメラ", "YouTubeなど", "音楽"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    19:{
                        title: "スマホの言語設定を変更するにはどこをタップしますか？",
                        hint: "",
                        answers: [
                            "ギャラリー", "カメラ", "設定"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    20:{
                        title: "アラームを設定するにはどのアプリを使いますか？",
                        hint: "",
                        answers: [
                            "時計", "カレンダー", "音楽"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    21:{
                        title: "新しい連絡先を追加するにはどこをタップしますか？",
                        hint: "",
                        answers: [
                            "メール", "連絡先", "メッセージ"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    22:{
                        title: "アプリを閉じるにはどうしますか？",
                        hint: "",
                        answers: [
                            "バックボタンをタップ", "ホームボタンをタップ", "電源ボタンをタップ"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    23:{
                        title: "メッセージを削除する際、どの操作が正しいですか？",
                        hint: "",
                        answers: [
                            "メッセージを左にスワイプ", "メッセージを長押ししてから削除を選択", "ボリュームを下げる"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    24:{
                        title: "スマートフォンの画面を回転させないようにするには？",
                        hint: "",
                        answers: [
                            "設定 > 画面 > 自動回転を無効にする", "ホームボタンを押してから回転オプションを選択", "画面を二回タップ"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    25:{
                        title: "",
                        hint: "",
                        answers: [
                            "", "", ""
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    26:{
                        title: "バッテリーの節約モードを有効にする方法は？",
                        hint: "",
                        answers: [
                            "設定 > ディスプレイ > バッテリー", "ホーム画面でバッテリーアイコンを長押し", "スマホを振る"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    27:{
                        title: "スマホを充電するときに必要な作業は？",
                        hint: "",
                        answers: [
                            "お風呂に入れる", "雷を落とす", "充電ケーブルに接続する"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                    28:{
                        title: "フリック入力の際「と」と打ちたい時どのような操作をしなければならないか",
                        hint: "",
                        answers: [
                            "「あ」の左", "「た」の下", "「た」の上"
                        ],
                        answerNum: 1,
                        description: ""
                    },
                    29:{
                        title: "フリック入力の際「ゆ」と打ちたい時どのような操作をしなければならないか",
                        hint: "",
                        answers: [
                            "「や」の上", "「や」の下", "「や」の左"
                        ],
                        answerNum: 0,
                        description: ""
                    },
                },
                

                currentQuestionNumber: Math.floor(Math.random() * 30),   //現在の問題番号
                currentQuestionData: [], //現在の問題データ
                correctAnswerNum: 0,//正解した数
                isCorrect: true,
                questionsLength: 0,
                questionCount: 1,


            },

            methods: {

                // 処理を関数にして記述する

                getCurrentQuestionNumber(){
                    return this.currentQuestionNumber;
                },

                //答えをチェックする処理
                answerCheck(userChoiceNumber){

                    if(userChoiceNumber == this.questions[this.currentQuestionNumber].answerNum){
                        //正解！
                        this.isCorrect = true;
                        this.correctAnswerNum += 1;
                        this.questionCount += 1;
                    }else{
                        this.isCorrect = false;
                        this.questionCount += 1;
                    }
                    
                    //結果を表示するモーダルを表示する
                    $('#answerCheckModal').modal({
                        keyboard: false,
                        backdrop: "static"
                    });
                },

                // 次の問題に行く処理
                nextQuestion(){

                    if(this.questionCount < 11){
                        this.currentQuestionNumber = Math.floor(Math.random() * 30);
                        $('#answerCheckModal').modal('hide');
                    }else{3
                        $('#answerCheckModal').modal('hide');

                        //すべての問題が解き終わったので、最終結果モーダルを表示する
                        $('#answerEndedModal').modal({
                            keyboard: false,
                            backdrop: "static"
                        });
                    }                    
                },

                reload(){
                    location.reload();
                }

            }

        })

    </script>

</body>

</html>